#menu {
    margin-left: auto;
    margin-right: auto;
    width: 86%;
    background: #333333;
    border: 1px solid #ccc;
    border-right: none;
}
 
#menu ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
 
#menu ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 16%; /* fallback for non-calc() browsers */
    width: calc(100% / 6);
    box-sizing: border-box;
}
 
#menu ul li:first-child {
    border-left: none;
}
 
#menu ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px 0;
}

/* unvisited link */
#menu a:link {
    background: #f0f0f0;
}

/* visited link */
#menu a:visited {
    background: #f0f0f0;
}

/* mouse over link */
#menu a:hover {
    background-color: #D0D0D0;
	color: #282828;
}

/* selected link */
#menu a:active {
    color: white;
} 


#header img {
    text-align: center;
    display: block;
    margin: 0 auto;
	
}



#content h3 {
	display: inline;
}

#content {
	margin-top: 3%;
	margin-left: 7%;
	margin-right: 7%;
	height: 100%;
	background-color: white;
}

#content {
	color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	text-transform: lowercase;
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	line-height: 145%;
	font-size: 12.5pt;
	font-variant: small-caps;
}

li {
  list-style-type: none;
}

#tutorials {
  margin-left: 0;
  margin-right: 0;
}

/* unvisited link */
#tutorials a:link {
    background: white;
}

/* visited link */
#tutorials a:visited {
    color: #3300CC;
}

/* mouse over link */
#tutorials a:hover {
    background-color: #D0D0D0;
	color: #282828;
}

/* selected link */
#tutorials a:active {
    color: white;
} 


html { 
  background-color: #E6E6FA;
}
